<div class="d-flex justify-content-center mt-3">
    <form class="search-form form-inline" action="/searchArtist">
        <input name="searchArtist" type="text" class="form-control mr-2" placeholder="Search for an artist disc">
        <button class="metallo-btn" type="submit">Search Artist</button>
    </form>
</div>

    <!-- <div>
        <form class="search" action="/searchArtist">
            <input name="searchArtist" type="text" placeholder="Search for an artists disc">
            <button  class=>Search Artist</button>
    
        </form>
    </div> -->


    <!-- <div>
        <form  class="search" action="/searchAlbums">
            <input name="searchAlbums" type="text" placeholder="Search for Albums by keyword">
            <button>Search Album</button>
    
        </form>
    </div> -->